@model IEnumerable<WebAPI.Models.Device>
@{
    ViewBag.Title = "ViewMain";
    if (!(ViewContext.ViewBag.Title == "Login"))
    {
        Layout = "~/Views/Shared/_layout.cshtml";
    }
}



<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        .panel {
            background-color: dodgerblue;
        }

        .auto-style1 {
            height: 23px;
            background-color: dodgerblue;
            color: white;
        }

        .table1 {
            padding: 0;
        }

        .auto-style2 {
            width: 644px;
        }

        .auto-style3 {
            width: 130px;
        }

        .auto-style4 {
            width: 316px;
        }

        .auto-style5 {
            width: 93px;
        }

        .auto-style6 {
            width: 168px;
        }

        .auto-style7 {
            width: 42px;
        }

        th {
            width: 132px;
            font-size: 14px;
        }
    </style>


    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="~/Scripts/Script/View.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script>


    </script>
</head>
<body>
    <div>
       
        <table class="table table-borderless" id="tableSearch">
            <tr>
                <td colspan="6" class="auto-style1">
                    View
                </td>
            </tr>
            <tr>
                <td class="auto-style4"></td>
                <td class="auto-style6">
                    IMEI
                </td>
                <td class="auto-style3">
                    <select id="selectIMEI">
                        <option value="">None selected</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.IMEI">@item.IMEI</option>
                        }

                    </select>
                </td>
            </tr>
            <tr id="date_filter">
                <td class="auto-style4"></td>
                <td class="auto-style6">
                    From Date
                </td>
                <td class="auto-style3">
                    <input type="text"  class="datepicker"  id="startdate" />

                </td>
                <td class="auto-style5">
                    To Date
                </td>
                <td class="auto-style2">
                    <input type="text"  class="datepicker"  id="enddate" />
                </td>
            </tr>
            <tr rowspan="4">
                <td class="auto-style4"></td>
                <td class="auto-style6"></td>
                <td class="auto-style3">
                    <input type="submit" id="submitSearch" onclick="Search();" value="Search" class="btn btn-primary" />
                </td>
            </tr>
        </table>
        
    </div>
    <div>
        <form>

            <div>
                <table class="table table-bordered" id="tableView">
                    <thead>
                        <tr>
                            <th>IMEI</th>
                            <th>BUMON NAME</th>
                            <th>STORE NAME</th>
                            <th>PRODUCT NAME</th>
                            <th>VIEW DATE</th>
                            <th>VIEWS</th>
                            <th>INSERT DATE</th>
                            <th>UPDATE DATE</th>
                        </tr>
                    </thead>
                    @*<tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Imei
                                    </td>
                                    <td>
                                        @item.Bumon_name
                                    </td>
                                    <td>
                                        @item.Store_name
                                    </td>
                                    <td>
                                        Chua tim thay thuoc tinh product name
                                    </td>
                                    <td>
                                        @item.View_date
                                    </td>
                                    <td>
                                        @item.Views
                                    </td>
                                    <td>
                                        @item.Insert_date
                                    </td>
                                    <td>
                                        @item.Update_date
                                    </td>
                                </tr>
                            }
                        </tbody>*@
    </table>
    </div>
    </form>
    </div>

    </body>
</html>


