

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        header {
            background-color: whitesmoke;
            margin-left: auto;
            margin-right: auto;
            nav-left: auto;
        }

        a {
            color: blue;
        }

        footer {
            width: auto;
            height: 50px;
        }

        section {
            width: auto;
            height: 500px;
        }

        .back-ground-change-pass {
            background-color: dodgerblue;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-lg  navbar-light bg-light">
            
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"> @*mr-auto day duoc admin ra nhung biche mat chu o change password*@
                        @*<ul class="nav justify-content-center">*@
                            <li class="nav-itemdropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Push
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">#1</a>
                                    <a class="dropdown-item" href="#">#2</a>
                                    <a class="dropdown-item" href="#">#3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    View
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("View", "ViewMain", "Home")
                                </a>
                                    <a class="dropdown-item" @Html.ActionLink("Store", "Store", "Home")
                                </a>
                                    <a class="dropdown-item" @Html.ActionLink("Device", "Device", "Home")
                                </a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Master Data
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">#1</a>
                                    <a class="dropdown-item" href="#">#2</a>
                                    <a class="dropdown-item" href="#">#3</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop" href="#">Change Password</a>
                                    <a class="dropdown-item" @Html.ActionLink("Sign out", "Index", "Home")
                                </a>
                                </div>
                            </li>
                        </ul>
                    @*<div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user">Admin</i> 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop" href="#">Change Password</a>
                            <a class="dropdown-item" @Html.ActionLink("Sign out", "Index", "Home")
                                </a>
                        </div>
                    </div>*@
                   
                    @*ModalChangePassword*@
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-borderless">
                                        <tr>
                                            <th scope="row">OLD PASSWORD</th>
                                            <td><input type="text" id="oldPass" class="text-primary" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">PASSWORD</th>
                                            <td><input type="text" id="newPass" class="text-primary" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CONFIRM PASSWORD</th>
                                            <td><input type="text" id="confirmPass" class="text-primary" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div>
        <section>
            @RenderBody()
        </section>
    </div>
    <div>
        <footer class="footertext">
            <p>2020-Notification</p>
        </footer>
    </div>


</body>
</html>
